
@{ 
    ViewData["Title"] = "Create - QLSP";
}
@model Products

<h1 class="text-danger">Thêm sản phẩm mới</h1>
<form asp-action="Create" autocomplete="off" class="row g-3"  method="post">
    <partial name="_PartialNhapProduct" model="Model"/>
    <br />
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary" >Thêm</button>
        <a asp-action="Index" class="nav-link">Back to list</a>
        <span>@ViewData["Error"]</span>
    </div>
</form>