@model Products
@{
    ViewData["Title"] = "Create - QLSP";
}
<h1 class="text-danger">Edit</h1>
<h3 class="text-info">Sửa TT sản phẩm</h3>
<hr/>
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <input asp-for="Image" class="form-control"/>
                        <span asp-validation-for="Image"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.DanhMuc" class="form-control"></select>
                        <span asp-validation-for="CategoryId"></span>
                    </div>
                </div>
            </div>
            <br/>
            <span>@ViewData["Error"]</span>
            <input type="submit" value="Cập nhật" class="btn btn-primary"/><br/>
            <a asp-action="Index">Back to list  </a>
        </form>
