@model Products
@{
    ViewData["Title"] = "Create - QLSP";
}
<h1 class="text-danger">Edit</h1>
<h3 class="text-info">Sửa TT sản phẩm</h3>
<hr />
<form asp-action="Edit" autocomplete="off" class="row g-3" method="post" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <partial name="_PartialNhapProduct" model="Model" />
    <br />
    <div class="col-sm-6">
        <input type="submit" class="btn btn-primary" value="Cập nhật" />
        <a asp-action="Index" class="nav-link">Back to list</a>
        <span>@ViewData["Error"]</span>
    </div>
</form>
