
@{
    ViewData["Title"] = "Create - QLND";
}
@model Customers

<h1 class="text-danger">Đăng kí người dùng mới</h1>
<form asp-action="Create" autocomplete="off" class="form-group needs-validation" >
    <div class="row">
        <div class="col-md-4">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" required />
            <span class="invalid-feedback">Mời nhập tên người dùng</span>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" required />
            <span class="invalid-feedback">Mời nhập email</span>
            <label asp-for="SDT"></label>
            <input asp-for="SDT" class="form-control" required />
            <span class="invalid-feedback">Mời nhập sđt</span>
            <label asp-for="CmndCccd"></label>
            <input asp-for="CmndCccd" class="form-control"  />
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" required />
            <span class="invalid-feedback">Mời nhập địa chỉ</span>
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" required />
            <span class="invalid-feedback">Mời nhập tên tài khoản</span>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" required />
            <span class="invalid-feedback">Mời nhập mật khẩu</span>
            <label asp-for="Quyen"></label>
            <input asp-for="Quyen" class="form-control" list="datalistOptions" required />
            <datalist id="datalistOptions">
                <option value="Người dùng" />
                <option value="Admin" />
            </datalist>
            <span class="invalid-feedback">Mời nhập quyền</span>

        </div>
    </div>

    <br />
    <input type="submit" class="btn btn-primary" value="Thêm" />
    <a asp-action="Index" class="nav-link">Back to list</a>
</form>