/*Cuctom CSS Modify
    --------------------------------
*/

.viewDanhMuc {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0;
    background-color: transparent;
  }
.text-stroke {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.checked {
    color: orange;
}
.card:hover {
    box-shadow: 1px 1px 5px #000;
}
.avatar {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}
/*Dock footer to bottom of screen*/
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}