/*Cuctom CSS Modify
    --------------------------------
*/

.viewDanhMuc {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0;
    background-color: transparent;
  }
.text-transition {
    animation-name: floatText;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes floatText {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}