<tr>
    <td colspan="3"  style="text-align: center">
        <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" width="125" alt="Empty Cart"/>
    </td>
</tr>
<tr>
    <td colspan="3">
        <p class="text-center text-muted">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
    </td>
</tr>
<tr>
    <td colspan="3" align="center">
        <a asp-action="Index" asp-controller="Home" class="btn btn-warning text-dark">Tiếp tục mua sắm</a>
    </td>
</tr>