@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/favicon.png" type="image/x-icon" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger flex-column fixed-top sticky-sm-top bg-gradient  py-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/favicon.png" width="50"> Phạm Việt
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                            Quản lí
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Category">Danh mục</a></li>
                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Customer">Người dùng</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <a asp-action="Index" asp-controller="Cart" class="btn btn-outline-danger">
                        <img src="~/images/logo.jpg" class="rounded-circle" width="30" />
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="root">

        <div class="container-fluid wrapper">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-light text-center bg-info">
            <div class="container">
                &reg; 2021 - PHẠM QUỐC VIỆT &trade;
            </div>
        </footer>
    </div>
    <script src="~/js/site.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
